.asideBody {
    grid-row: 2/-1;
    background-color: transparent;
    display: grid;

}
.asideBody li {
    padding-left: var(--default-gatter);
}
.asideBody--mainSettings {
    overflow: hidden;
}
.asideBody--mainSettings li p,
.asideBody--otherSettings li p
{
    color: var(--main-text-color);
    font-size: 1em;
    font-weight: 600;
    padding: var(--default-gatter);
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}

.asideBody--mainSettings-item {
    height: calc(var(--default-gatter)*2);

}
.asideBody--mainSettings-item  p {
    position: relative;
    cursor: pointer;
}
.asideBody--mainSettings-item  p.active {
    font-size: 1.2em;
}
.asideBody--mainSettings-item  p.active:before {
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    top:44%;
    width:calc(var(--default-gatter)*1.3);
    height: calc(var(--default-gatter)/2);
    border-top-right-radius: var(--default-borderRadius);
    border-bottom-right-radius: var(--default-borderRadius);
    background-color: #F7C602;
}
.asideBody--mainSettings-item  p.active:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 5px;
    top:44%;
    width: calc(var(--default-gatter)/2);
    height: calc(var(--default-gatter)/2);
    border-radius: 100%;
    background-color: #F7C602;
}



.asideBody--footer-image,
.asideBody--footer-image2 {
    width: calc(var(--default-gatter) * 2);
    height: auto;
    display: block;
    margin: auto;
}
.asideBody--footer-image2 {
    padding-top: var(--default-gatter);
    width: calc(var(--default-gatter) * 3);
}