@import './components/variables.css' screen;
@import './libs/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

/* MY SIMPLE MONKEY CLEAN STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
* p {
  padding: 0;
  margin: 0;
}
* li {
  list-style-type: none;
}

.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.italic {
  font-style: italic;
}